body {
    font-family: monserrat, sans-serif;
    background: url(img/background.png) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444446;
    position: relative;
    height: 100%;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

element.style {
    background-image: url(img/ro.png);
}

#player-name span:first-child {
    background-position: 100%;
    flex-grow: 2;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

style attribute {
    font-size: 1.4em;
    overflow: hidden;
}

h3 {
   font-size: 1em;
   margin: .3em 0;
   text-align: center;
}

.panel {
    padding: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.flag-icon::before {
    content: '\00a0';
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: calibri;
    --main-clr: #0ebac5;
}

/* The page */
body {
    background-color: rgb(24 24 27);
}

.main {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    place-items: center;
    height: 100vh;
}

.btn {
    background-color: #0ebac5;
    border: 1px solid #0ebac5;
    padding: 1em 2em;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: none;
    color: #fff;
}

.btn::before, .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: #0ebac5;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: background 0.5s, transform 0.5s, opacity 0.5s ease-in;
}

.btn::before {
    left: -30%;
}

.btn::after {
    right: -30%;
}

.btn:hover::after {
    transform: scale(1);
}

.btn:active {
    transform: translateY(2px);
}

.underlined_pad {
    color:#fff;

} 

.flex-col-paginator {
     margin-left: 50px;
}

.panel_fade {
    margin-right:80px;
    margin-bottom:1000px;
}

.viewer-content {
    margin-bottom: 180px;
    margin-right: 150px;
    color:#fff;
}

.hardest {
    color:#fff
}


.toggleable {
    display: none;
}

.flex-col3 {
    margin-top:-439px;
    margin-right:-15px;

}

.flex-col4 {
    margin-top:-478px;
    
}

.flex-col5{
    margin-top:-363px;
}
.flex-col6 {
    margin-top:-630px;
}

.flex-col7 {
    margin-top:-591px;
    margin-right:-18px;
}

.flex-col8 {
    margin-top:-705px;
}

.flex-col9 {
    margin-top:-705px;
}

.flex-col10 {
    margin-top:-705px;
}

.flex-col11 {
    margin-top:-705px;
}

.flex-col12 {
    margin-top:-705px;
    margin-right:-10px;
}

.flex-col13 {
    margin-top:-611px;
    margin-right:-5px;
}

.flex-col14 {
    margin-top:-688px;
    margin-right:-12px;
}

.flex-col15 {
    margin-top:-705px;
}

.stats-container1 {
    margin-bottom:-95px;
    margin-right:-5px;
}

